<h3>{{_('Environmental Health App')}}</h3>

<form
 action="{{ url_for('main.deleteMsRateSample', ms_rate_sample_id = MsRateSampleToDelete.ms_rate_sample_id)}}"
 method="post">
 <div class="form-group">
  <label for="name"> {{ _('Are you sure you want to delete') }}
   "{{MsRateSampleToDelete.site.name }}"?</label>
  <button type="submit">{{_('Delete')}}</button>
  <input type="button" onclick="location.href='{{url_for('main.list_ms_rate_samples')}}'"
   value="{{_('Cancel')}}" />
 </div>
</form>
