<style>
label {
	width: 200px;
	text-align: left;
	float: left;
}
</style>
<h3>{{_('Environmental Health App')}}</h3>

<form
 action="{{ url_for('main.editMsRateSample', ms_rate_sample_id = editedMsRateSample.ms_rate_sample_id)}}"
 method="post">
 <div class="form-group">
  <label for="site_id">{{_('Site ID')}}:</label> <select name="site_id" width="300px"> {%
   for s in site %} {% if s.site_id == editedMsRateSample.site_id %}
   <option value="{{ s.site_id }}" SELECTED>{{ s.name }}</option> {% else %}
   <option value="{{ s.site_id }}">{{ s.name }}</option> {% endif %} {% endfor %}
  </select> <br> <label for="date">Date:</label> <input type="text" class="form-control" name="date"
   value="{{editedMsRateSample.date }}"><br> <label for="rate">{{_('Rate (per
   100000)')}}:</label> <input type="text" class="form-control" name="rate"
   value="{{editedMsRateSample.rate }}"><br>

  <button type="submit">{{_('Update'))</button>
  <input type="button" onclick="location.href='{{url_for('main.list_ms_rate_samples')}}'"
   value="{{_('Cancel')}}" />
 </div>
</form>
