<h3>Environmental Health App</h3>
<a href="/">Back</a>
<a href="/newSite">New</a>
<table>
 <thead>
  <tr>
   <th>ID</th>
   <th>Country ID</th>
   <th>Site Type ID</th>
   <th>Name</th>
   <th>latitude</th>
   <th>longitude</th>
  </tr>
 </thead>
 {% set location=[] %}
 <tbody>
  {% for site in sites %}
  <tr>
   <td>{{ site.site_id }}</td>
   <td>{{ site.country.name}}</td>
   <td>{{ site.site_type.name }}</td>
   <td>{{ site.name }}</td>
   <td>{{ site.latitude }}</td>
   <td>{{ site.longitude }}</td>
   <td><a href="{{url_for('editSite', site_id = site.site_id )}}">Edit</a></td>
   <td><a href="{{url_for('deleteSite', site_id = site.site_id )}}">Delete</a></td>
  </tr>
  {% if site.site_type.site_type_id == 4 %} {% set location = location.append((site.latitude,
  site.longitude, site.name + ' - ' + site.site_type.name,
  'http://maps.google.com/mapfiles/ms/icons/red-dot.png' )) %} {% elif site.site_type.site_type_id
  == 3 %} {% set location = location.append((site.latitude, site.longitude, site.name + ' - ' +
  site.site_type.name, 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png' )) %} {% elif
  site.site_type.site_type_id == 2 %} {% set location = location.append((site.latitude,
  site.longitude, site.name + ' - ' + site.site_type.name,
  'http://maps.google.com/mapfiles/ms/icons/yellow-dot.png' )) %} {% elif
  site.site_type.site_type_id == 1 %} {% set location = location.append((site.latitude,
  site.longitude, site.name + ' - ' + site.site_type.name,
  'http://maps.google.com/mapfiles/ms/icons/green-dot.png' )) %} {% else %} {% set location =
  location.append((site.latitude, site.longitude, site.name + ' - ' + site.site_type.name,
  'http://maps.google.com/mapfiles/ms/icons/purple-dot.png' )) %} {% endif %} {% endfor %}
 </tbody>
</table>

{% set style="width:500px;height:500px;"%} {{ googlemap( "simple-map", location[0].0, location[0].1,
markers=location, style=style ) }}
