<h3>Environmental Health App</h3>
<a href="/">Back</a>
<a href="/newSite">New</a>
<table>
 <thead>
  <tr>
   <th>ID</th>
   <th>Country ID</th>
   <th>Site Type ID</th>
   <th>Name</th>
   <th>latitude</th>
   <th>longitude</th>
  </tr>
 </thead>

 <tbody>
  {% for site in sites %}
  <tr>
   <td>{{ site.site_id }}</td>
   <td>{{ site.country.name}}</td>
   <td>{{ site.site_type.name }}</td>
   <td>{{ site.name }}</td>
   <td>{{ site.latitude }}</td>
   <td>{{ site.longitude }}</td>
   <td><a href="{{url_for('editSite', site_id = site.site_id )}}">Edit</a></td>
   <td><a href="{{url_for('deleteSite', site_id = site.site_id )}}">Delete</a></td>
  </tr>
  {% endfor %}
 </tbody>
</table>
