<h3>{{_('Environmental Health App')}}</h3>
<a href="{{url_for('main.index')}}">{{_('Back')}}</a>
<a href="{{url_for('main.newCountry')}}">{{_('New')}}</a>
<br>


<table>
 <thead>
  <tr>
   <th>{{_('ID')}}</th>
   <th>{{_('Name')}}</th>
  </tr>
 </thead>

 <tbody>
  {% for country in countries %}
  <tr>
   <td>{{ country.country_id }}</td>
   <td>{{ country.name }}</td>
   <td><a href="{{url_for('main.editCountry', country_id = country.country_id )}}">{{_('Edit')}}</a></td>
   <td><a href="{{url_for('main.deleteCountry', country_id = country.country_id )}}">{{
     _('Delete') }}</a></td>
  </tr>
  {% endfor %}
 </tbody>
</table>
