<h3>Environmental Health App</h3>
<a href="/">Back</a>
<a href="/newSiteType">New</a>
<table>
 <thead>
  <tr>
   <th>ID</th>
   <th>Name</th>
  </tr>
 </thead>

 <tbody>
  {% for site_type in site_types %}
  <tr>
   <td>{{ site_type.site_type_id }}</td>
   <td>{{ site_type.name }}</td>
   <td><a
    href="{{url_for('main.editSiteType', site_type_id = site_type.site_type_id )}}">Edit</a></td>
   <td><a
    href="{{url_for('main.deleteSiteType', site_type_id = site_type.site_type_id )}}">Delete</a></td>
  </tr>
  </tr>
  {% endfor %}
 </tbody>
</table>
