<style>
label {
	width: 200px;
	text-align: left;
	float: left;
}
</style>

<h3>{{_('Environmental Health App')}}</h3>

<form action="#" method="post">
 <div class="form-group">

  <label for="site_id">{{_('Site')}}:</label> <select name="site_id" width="300px"> {% for
   s in site %}
   <option value="{{ s.site_id }}">{{ s.name }}</option> {% endfor %}
  </select><br> <label for="date">{{_('Date')}}:</label> <input type="text" maxlength="100" name="date" /><br>
  <label for="population">{{_('Population')}}:</label> <input type="number" name="population" step=1 /><br>
  <label for="total_coliforms">{{_('Total Coliforms')}}:</label> <input type="number"
   name="total_coliforms" step=0.00001><input type="radio" name="total_coliforms_units"
   value="1" checked>cfu/100ml<br> <label for="e_coli">{{_('E. Coli')}}:</label> <input
   type="number" name="e_coli" step=0.00001><input type="radio" name="e_coli_units"
   value="1" checked>cfu/100ml<br> <label for="heterotrophic_plate_count">{{_('Heterotrophic
   Plate Count')}}:</label> <input type="number" name="heterotrophic_plate_count" step=0.00001><input
   type="radio" name="heterotrophic_plate_count_units" value="1" checked>cfu/ml<br> <label
   for="ph">{{_('PH')}}:</label> <input type="number" name="ph" step=0.00001><input
   type="radio" name="ph_units" value="1" checked>log10<br> <label for="alkalinity">{{_('Alkalinity')}}:</label>
  <input type="number" name="alkalinity" step=0.00001><input type="radio"
   name="alkalinity_units" value="1" checked>mg/L<input type="radio" name="alkalinity_units"
   value="0.001">ug/L<br> <label for="bromide">{{_('Bromide')}}:</label> <input
   type="number" name="bromide" step=0.00001><input type="radio" name="bromide_units"
   value="1" checked>mg/L<input type="radio" name="bromide_units" value="0.001">ug/L<br>
  <label for="calcium">{{_('Calcium')}}:</label> <input type="number" name="calcium" step=0.00001><input
   type="radio" name="calcium_units" value="1" checked>mg/L<input type="radio"
   name="calcium_units" value="0.001">ug/L<br> <label for="chlorate">{{_('Chlorate')}}:</label>
  <input type="number" name="chlorate" step=0.00001><input type="radio"
   name="chlorate_units" value="1" checked>mg/L<input type="radio" name="chlorate_units"
   value="0.001">ug/L<br> <label for="chloride">{{_('Chloride')}}:</label> <input
   type="number" name="chloride" step=0.00001><input type="radio" name="chloride_units"
   value="1" checked>mg/L<input type="radio" name="chloride_units" value="0.001">ug/L<br>
  <label for="chlorine">{{_('Chlorine')}}:</label> <input type="number" name="chlorine" step=0.00001><input
   type="radio" name="chlorine_units" value="1" checked>mg/L<input type="radio"
   name="chlorine_units" value="0.001">ug/L<br> <label for="fluoride">{{_('Fluoride')}}:</label>
  <input type="number" name="fluoride" step=0.00001><input type="radio"
   name="fluoride_units" value="1" checked>mg/L<input type="radio" name="fluoride_units"
   value="0.001">ug/L<br> <label for="magnesium">{{_('Magnesium')}}:</label> <input
   type="number" name="magnesium" step=0.00001><input type="radio" name="magnesium_units"
   value="1" checked>mg/L<input type="radio" name="magnesium_units" value="0.001">ug/L<br>
  <label for="potassium">{{_('Potassium')}}:</label> <input type="number" name="potassium"
   step=0.00001><input type="radio" name="potassium_units" value="1" checked>mg/L<input
   type="radio" name="potassium_units" value="0.001">ug/L<br> <label for="silicon">{{_('Silicon')}}:</label>
  <input type="number" name="silicon" step=0.00001><input type="radio" name="silicon_units"
   value="1" checked>mg/L<input type="radio" name="silicon_units" value="0.001">ug/L<br>
  <label for="sodium">{{_('Sodium')}}:</label> <input type="number" name="sodium" step=0.00001><input
   type="radio" name="sodium_units" value="1" checked>mg/L<input type="radio"
   name="sodium_units" value="0.001">ug/L<br> <label for="sulphate">{{_('Sulphate')}}:</label>
  <input type="number" name="sulphate" step=0.00001><input type="radio"
   name="sulphate_units" value="1" checked>mg/L<input type="radio" name="sulphate_units"
   value="0.001">ug/L<br> <label for="calcium_hardness">{{_('Calcium
   Hardness')}}:</label> <input type="number" name="calcium_hardness" step=0.00001><input
   type="radio" name="calcium_hardness_units" value="1" checked>mg/L<input type="radio"
   name="calcium_hardness_units" value="0.001">ug/L<br> <label for="nitrate">{{_('Nitrate')}}:</label>
  <input type="number" name="nitrate" step=0.00001><input type="radio" name="nitrate_units"
   value="1" checked>mg/L<input type="radio" name="nitrate_units" value="0.001">ug/L<br>
  <label for="nitrite">{{_('Nitrite')}}:</label> <input type="number" name="nitrite" step=0.00001><input
   type="radio" name="nitrite_units" value="1" checked>mg/L<input type="radio"
   name="nitrite_units" value="0.001">ug/L<br> <label for="aluminum">{{_('Aluminum')}}:</label>
  <input type="number" name="aluminum" step=0.00001><input type="radio"
   name="aluminum_units" value="1" checked>mg/L<input type="radio" name="aluminum_units"
   value="0.001">ug/L<br> <label for="barium">{{_('Barium')}}:</label> <input
   type="number" name="barium" step=0.00001><input type="radio" name="barium_units"
   value="1" checked>mg/L<input type="radio" name="barium_units" value="0.001">ug/L<br>
  <label for="boron">{{_('Boron')}}:</label> <input type="number" name="boron" step=0.00001><input
   type="radio" name="boron_units" value="1" checked>mg/L<input type="radio"
   name="boron_units" value="0.001">ug/L<br> <label for="cadmium">{{_('Cadmium')}}:</label>
  <input type="number" name="cadmium" step=0.00001><input type="radio" name="cadmium_units"
   value="1" checked>mg/L<input type="radio" name="cadmium_units" value="0.001">ug/L<br>
  <label for="chromium">{{_('Chromium')}}:</label> <input type="number" name="chromium" step=0.00001><input
   type="radio" name="chromium_units" value="1" checked>mg/L<input type="radio"
   name="chromium_units" value="0.001">ug/L<br> <label for="chromium_vi">{{_('Chromium')}}
   VI:</label> <input type="number" name="chromium_vi" step=0.00001><input type="radio"
   name="chromium_vi_units" value="1" checked>mg/L<input type="radio"
   name="chromium_vi_units" value="0.001">ug/L<br> <label for="copper">{{_('Copper')}}:</label>
  <input type="number" name="copper" step=0.00001><input type="radio" name="copper_units"
   value="1" checked>mg/L<input type="radio" name="copper_units" value="0.001">ug/L<br>
  <label for="iron">{{_('Iron')}}:</label> <input type="number" name="iron" step=0.00001><input
   type="radio" name="iron_units" value="1" checked>mg/L<input type="radio"
   name="iron_units" value="0.001">ug/L<br> <label for="lead">{{_('Lead')}}:</label> <input
   type="number" name="lead" step=0.00001><input type="radio" name="lead_units" value="1"
   checked>mg/L<input type="radio" name="lead_units" value="0.001">ug/L<br> <label
   for="manganese">{{_('Manganese')}}:</label> <input type="number" name="manganese" step=0.00001><input
   type="radio" name="manganese_units" value="1" checked>mg/L<input type="radio"
   name="manganese_units" value="0.001">ug/L<br> <label for="mercury">{{_('Mercury')}}:</label>
  <input type="number" name="mercury" step=0.00001><input type="radio" name="mercury_units"
   value="1" checked>mg/L<input type="radio" name="mercury_units" value="0.001">ug/L<br>
  <label for="nickel">{{_('Nickel')}}:</label> <input type="number" name="nickel" step=0.00001><input
   type="radio" name="nickel_units" value="1" checked>mg/L<input type="radio"
   name="nickel_units" value="0.001">ug/L<br> <label for="selenium">{{_('Selenium')}}:</label>
  <input type="number" name="selenium" step=0.00001><input type="radio"
   name="selenium_units" value="1" checked>mg/L<input type="radio" name="selenium_units"
   value="0.001">ug/L<br> <label for="strontium">{{_('Strontium')}}:</label> <input
   type="number" name="strontium" step=0.00001><input type="radio" name="strontium_units"
   value="1" checked>mg/L<input type="radio" name="strontium_units" value="0.001">ug/L<br>
  <label for="uranium">{{_('Uranium')}}:</label> <input type="number" name="uranium" step=0.00001><input
   type="radio" name="uranium_units" value="1" checked>mg/L<input type="radio"
   name="uranium_units" value="0.001">ug/L<br> <label for="vanadium">{{_('Vanadium')}}:</label>
  <input type="number" name="vanadium" step=0.00001><input type="radio"
   name="vanadium_units" value="1" checked>mg/L<input type="radio" name="vanadium_units"
   value="0.001">ug/L<br> <label for="zinc">{{_('Zinc')}}:</label> <input type="number"
   name="zinc" step=0.00001><input type="radio" name="zinc_units" value="1" checked>mg/L<input
   type="radio" name="zinc_units" value="0.001">ug/L<br> <label
   for="atrazine_metabolites">{{_('Atrazine Metabolites')}}:</label> <input type="number"
   name="atrazine_metabolites" step=0.00001><input type="radio"
   name="atrazine_metabolites_units" value="1000">mg/L<input type="radio"
   name="atrazine_metabolites_units" value="1" checked>ug/L<br> <label for="diazinon">{{_('Diazinon')}}:</label>
  <input type="number" name="diazinon" step=0.00001><input type="radio"
   name="diazinon_units" value="1000">mg/L<input type="radio" name="diazinon_units"
   value="1" checked>ug/L<br> <label for="dicamba">{{_('Dicamba')}}:</label> <input
   type="number" name="dicamba" step=0.00001><input type="radio" name="dicamba_units"
   value="1000">mg/L<input type="radio" name="dicamba_units" value="1" checked>ug/L<br>
  <label for="dichloromethane">{{_('Dichloromethane')}}:</label> <input type="number"
   name="dichloromethane" step=0.00001><input type="radio" name="dichloromethane_units"
   value="1000">mg/L<input type="radio" name="dichloromethane_units" value="1" checked>ug/L<br>
  <label for="diclofop_methyl">{{_('Diclofop Methyl')}}:</label> <input type="number"
   name="diclofop_methyl" step=0.00001><input type="radio" name="diclofop_methyl_units"
   value="1000">mg/L<input type="radio" name="diclofop_methyl_units" value="1" checked>ug/L<br>
  <label for="metolachlor">{{_('Metolachlor')}}:</label> <input type="number" name="metolachlor"
   step=0.00001><input type="radio" name="metolachlor_units" value="1000">mg/L<input
   type="radio" name="metolachlor_units" value="1" checked>ug/L<br> <label
   for="picloram">{{_('Picloram')}}:</label> <input type="number" name="picloram" step=0.00001><input
   type="radio" name="picloram_units" value="1000">mg/L<input type="radio"
   name="picloram_units" value="1" checked>ug/L<br> <label for="simazine">{{_('Simazine')}}:</label>
  <input type="number" name="simazine" step=0.00001><input type="radio"
   name="simazine_units" value="1000">mg/L<input type="radio" name="simazine_units"
   value="1" checked>ug/L<br> <label for="chloroform">{{_('Chloroform')}}:</label> <input
   type="number" name="chloroform" step=0.00001><input type="radio" name="chloroform_units"
   value="1000">mg/L<input type="radio" name="chloroform_units" value="1" checked>ug/L<br>
  <label for="bromodichloromethane">{{_('Bromodichloromethane')}}:</label> <input type="number"
   name="bromodichloromethane" step=0.00001><input type="radio"
   name="bromodichloromethane_units" value="1000">mg/L<input type="radio"
   name="bromodichloromethane_units" value="1" checked>ug/L<br> <label
   for="dibromochloromethane">{{_('Dibromochloromethane')}}:</label> <input type="number"
   name="dibromochloromethane" step=0.00001><input type="radio"
   name="dibromochloromethane_units" value="1000">mg/L<input type="radio"
   name="dibromochloromethane_units" value="1" checked>ug/L<br> <label
   for="total_trihalomethanes">{{_('Total Trihalomethanes')}}:</label> <input type="number"
   name="total_trihalomethanes" step=0.00001><input type="radio"
   name="total_trihalomethanes_units" value="1000">mg/L<input type="radio"
   name="total_trihalomethanes_units" value="1" checked>ug/L<br> <label
   for="dichloroacetic_acid">{{_('Dichloroacetic Acid')}}:</label> <input type="number"
   name="dichloroacetic_acid" step=0.00001><input type="radio"
   name="dichloroacetic_acid_units" value="1000">mg/L<input type="radio"
   name="dichloroacetic_acid_units" value="1" checked>ug/L<br> <label
   for="trichloroacetic_acid">{{_('Trichloroacetic Acid')}}:</label> <input type="number"
   name="trichloroacetic_acid" step=0.00001><input type="radio"
   name="trichloroacetic_acid_units" value="1000">mg/L<input type="radio"
   name="trichloroacetic_acid_units" value="1" checked>ug/L<br> <label
   for="bromochloroacetic_acid">{{_('Bromochloroacetic Acid')}}:</label> <input type="number"
   name="bromochloroacetic_acid" step=0.00001><input type="radio"
   name="bromochloroacetic_acid_units" value="1000">mg/L<input type="radio"
   name="bromochloroacetic_acid_units" value="1" checked>ug/L<br> <label
   for="total_haloacetic_acids_haa5">{{_('Total Haloacetic Acids HAA5')}}:</label> <input
   type="number" name="total_haloacetic_acids_haa5" step=0.00001><input type="radio"
   name="total_haloacetic_acids_haa5_units" value="1000">mg/L<input type="radio"
   name="total_haloacetic_acids_haa5_units" value="1" checked>ug/L<br> <label
   for="caffeine">{{_('Caffeine')}}:</label> <input type="number" name="caffeine" step=0.00001><input
   type="radio" name="caffeine_units" value="1000">mg/L<input type="radio"
   name="caffeine_units" value="1" checked>ug/L<br> <label for="metformin">{{_('Metformin')}}:</label>
  <input type="number" name="metformin" step=0.00001><input type="radio"
   name="metformin_units" value="1000">mg/L<input type="radio" name="metformin_units"
   value="1" checked>ug/L<br> <label for="total_organic_carbon">{{_('Total
   Organic Carbon')}}:</label> <input type="number" name="total_organic_carbon" step=0.00001><input
   type="radio" name="total_organic_carbon_units" value="1000">mg/L<input type="radio"
   name="total_organic_carbon_units" value="1" checked>ug/L<br> <label
   for="grossalpha_radioactivity">{{_('Gross Alpha Radioactivity')}}:</label> <input type="number"
   name="grossalpha_radioactivity" step=0.00001><input type="radio"
   name="grossalpha_radioactivity_units" value="1" checked>Bq/L<br> <label
   for="grossbeta_radioactivity">{{_('Gross Beta Radioactivity')}}:</label> <input type="number"
   name="grossbeta_radioactivity" step=0.00001><input type="radio"
   name="grossbeta_radioactivity_units" value="1" checked>Bq/L<br> <label for="tritium">{{_('Tritium')}}:</label>
  <input type="number" name="tritium" step=0.00001><input type="radio" name="tritium_units"
   value="1000">mg/L<input type="radio" name="tritium_units" value="1" checked>ug/L<br>
  <label for="ms_rate_sample">MS Rate Site:</label> <select name="ms_rate_sample" width="300px">
   <option value="NONE" SELECTED>NONE</option> {% for s in site %}
   {% if s.site_type.site_type_id == 4 %}
   <option value="{{ s.site_id }}">{{ s.name }} - {{ s.site_type.name }}</option> {% endif %} {% endfor %}
  </select><br>

  <button type="submit">{{_('Create')}}</button>
  <input type="button" onclick="location.href='{{url_for('main.list_drinking_water_samples')}}'"
   value="{{_('Cancel')}}" />

 </div>
</form>
