<h3>Environmental Health App</h3>
<a href="{{url_for('main.index')}}">{{_('Back')}}</a>
<a href="{{url_for('main.newDrinkingWaterSample')}}">{{_('New')}}</a>
<table>
 <thead>
  <tr>
   <th>{{_('Drinking Water Sample ID')}}</th>
   <th>{{_('Site ID')}}</th>
   <th>{{_('Date')}}</th>
   <th>{{_('Population')}}</th>
   <th>{{_('Total Coliforms')}}</th>
   <th>{{_('E. Coli')}}</th>
   <th>{{_('Heterotrophic Plate Count')}}</th>
   <th>{{_('PH')}}</th>
   <th>{{_('Alkalinity')}}</th>
   <th>{{_('Bromide')}}</th>
   <th>{{_('Calcium')}}</th>
   <th>{{_('Chlorate')}}</th>
   <th>{{_('Chloride')}}</th>
   <th>{{_('Chlorine')}}</th>
   <th>{{_('Fluoride')}}</th>
   <th>{{_('Magnesium')}}</th>
   <th>{{_('Potassium')}}</th>
   <th>{{_('Silicon')}}</th>
   <th>{{_('Sodium')}}</th>
   <th>{{_('Sulphate')}}</th>
   <th>{{_('Calcium Hardness')}}</th>
   <th>{{_('Nitrate')}}</th>
   <th>{{_('Nitrite')}}</th>
   <th>{{_('Aluminum')}}</th>
   <th>{{_('Barium')}}</th>
   <th>{{_('Boron')}}</th>
   <th>{{_('Cadmium')}}</th>
   <th>{{_('Chromium')}}</th>
   <th>{{_('Chromium')}} vi</th>
   <th>{{_('Copper')}}</th>
   <th>{{_('Iron')}}</th>
   <th>{{_('Lead')}}</th>
   <th>{{_('Manganese')}}</th>
   <th>{{_('Mercury')}}</th>
   <th>{{_('Nickel')}}</th>
   <th>{{_('Selenium')}}</th>
   <th>{{_('Strontium')}}</th>
   <th>{{_('Uranium')}}</th>
   <th>{{_('Vanadium')}}</th>
   <th>{{_('Zinc')}}</th>
   <th>{{_('Atrazine Metabolites')}}</th>
   <th>{{_('Diazinon')}}</th>
   <th>{{_('Dicamba')}}</th>
   <th>{{_('Dichloromethane')}}</th>
   <th>{{_('Diclofop Methyl')}}</th>
   <th>{{_('Metolachlor')}}</th>
   <th>{{_('Picloram')}}</th>
   <th>{{_('Simazine')}}</th>
   <th>{{_('Chloroform')}}</th>
   <th>{{_('Bromodichloromethane')}}</th>
   <th>{{_('Dibromochloromethane')}}</th>
   <th>{{_('Total Trihalomethanes')}}</th>
   <th>{{_('Dichloroacetic Acid')}}</th>
   <th>{{_('Trichloroacetic Acid')}}</th>
   <th>{{_('Bromochloroacetic Acid')}}</th>
   <th>{{_('Total Haloacetic Acids HAA5')}}</th>
   <th>{{_('Caffeine')}}</th>
   <th>{{_('Metformin')}}</th>
   <th>{{_('Total Organic Carbon')}}</th>
   <th>{{_('Gross Alpha Radioactivity')}}</th>
   <th>{{_('Gross Beta Radioactivity')}}</th>
   <th>{{_('Tritium')}}</th>
   <th>{{_('MS Rate Site')}}</th>
  </tr>
 </thead>

 <tbody>
  {% for sample in drinking_water_samples %}
  <tr>
   <td>{{ sample.drinking_water_sample_id }}</td>
   <td>{{ sample.site.name }}</td>
   <td>{{ sample.date }}</td>
   <td>{{ sample.population }}</td>
   <td>{{ sample.total_coliforms }}</td>
   <td>{{ sample.e_coli }}</td>
   <td>{{ sample.heterotrophic_plate_count }}</td>
   <td>{{ sample.ph }}</td>
   <td>{{ sample.alkalinity }}</td>
   <td>{{ sample.bromide }}</td>
   <td>{{ sample.calcium }}</td>
   <td>{{ sample.chlorate }}</td>
   <td>{{ sample.chloride }}</td>
   <td>{{ sample.chlorine }}</td>
   <td>{{ sample.fluoride }}</td>
   <td>{{ sample.magnesium }}</td>
   <td>{{ sample.potassium }}</td>
   <td>{{ sample.silicon }}</td>
   <td>{{ sample.sodium }}</td>
   <td>{{ sample.sulphate }}</td>
   <td>{{ sample.calcium_hardness }}</td>
   <td>{{ sample.nitrate }}</td>
   <td>{{ sample.nitrite }}</td>
   <td>{{ sample.aluminum }}</td>
   <td>{{ sample.barium }}</td>
   <td>{{ sample.boron }}</td>
   <td>{{ sample.cadmium }}</td>
   <td>{{ sample.chromium }}</td>
   <td>{{ sample.chromium_vi }}</td>
   <td>{{ sample.copper }}</td>
   <td>{{ sample.iron }}</td>
   <td>{{ sample.lead }}</td>
   <td>{{ sample.manganese }}</td>
   <td>{{ sample.mercury }}</td>
   <td>{{ sample.nickel }}</td>
   <td>{{ sample.selenium }}</td>
   <td>{{ sample.strontium }}</td>
   <td>{{ sample.uranium }}</td>
   <td>{{ sample.vanadium }}</td>
   <td>{{ sample.zinc }}</td>
   <td>{{ sample.atrazine_metabolites }}</td>
   <td>{{ sample.diazinon }}</td>
   <td>{{ sample.dicamba }}</td>
   <td>{{ sample.dichloromethane }}</td>
   <td>{{ sample.diclofop_methyl }}</td>
   <td>{{ sample.metolachlor }}</td>
   <td>{{ sample.picloram }}</td>
   <td>{{ sample.simazine }}</td>
   <td>{{ sample.chloroform }}</td>
   <td>{{ sample.bromodichloromethane }}</td>
   <td>{{ sample.dibromochloromethane }}</td>
   <td>{{ sample.total_trihalomethanes }}</td>
   <td>{{ sample.dichloroacetic_acid }}</td>
   <td>{{ sample.trichloroacetic_acid }}</td>
   <td>{{ sample.bromochloroacetic_acid }}</td>
   <td>{{ sample.total_haloacetic_acids_haa5 }}</td>
   <td>{{ sample.caffeine }}</td>
   <td>{{ sample.metformin }}</td>
   <td>{{ sample.total_organic_carbon }}</td>
   <td>{{ sample.grossalpha_radioactivity }}</td>
   <td>{{ sample.grossbeta_radioactivity }}</td>
   <td>{{ sample.tritium }}</td>
   <td>{% for ms_rate in sample.ms_rate_samples %} {{ms_rate.site.name}} {% endfor %}</td>
   <td><a
    href="{{url_for('main.editDrinkingWaterSample', drinking_water_sample_id = sample.drinking_water_sample_id )}}">{{_('Edit')}}</a></td>
   <td><a
    href="{{url_for('main.deleteDrinkingWaterSample', drinking_water_sample_id = sample.drinking_water_sample_id )}}">{{
     _('Delete') }}</a></td>
  </tr>
  {% endfor %}
 </tbody>
</table>
